<app-navbar></app-navbar>

<div *ngIf = "userid != null">
<div>
<div class="alert alert-primary" role="alert" style="text-align:center">
    WELECOME {{userDetail.fname}}
</div>
<br/>
<br/>
<!-- <div *ngIf="count != 0">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Room Name</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Price</th>
          <th scope="col">Pic</th>
          <th scope="col">Room No</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rooms of book">
          <td scope="row">{{userDetail.fname}}</td>
          <td scope="row">{{rooms.startDate}} &nbsp; 12:00 pm</td>
          <td scope="row">{{rooms.endDate}} &nbsp; 12:00 pm </td>
          <td scope="row">{{rooms.payment}}</td>
          
          <td scope="row">
            <button>Upload</button>
          </td>
          <td scope="row">{{rooms.roomNo}}</td>
          <td scope="row">{{rooms.paymentStatus}}</td>
          <td scope="row"><button (click)=deleteroom(rooms.id)>Delete</button></td>
          
        </tr>

      </tbody>
    </table>
    <button class="btn btn-primary" (click)="confirmBooking()">Room Book</button>
</div> -->
<br/>
<br/>
<h3 style="text-align:center">Room Booking</h3>
<div style="padding:50px">
        <form mehtod="post">
         <div class="form-row">
           <div class="form-group col-md-6">
             <div class="form-group">
                    <label for="exampleFormControlSelect2">Room type</label>
                    <select  name="roomtype" class="form-control" [(ngModel)]="book.payment" id="exampleFormControlSelect2">
                      <option value="10000">Standard Room</option>
                      <option value="15000">Sweat Room</option>
                      <option value="20000">VIP Room</option>
                    </select>
            </div>
           </div>
                <div class="form-group col-md-3">
                 <label for="stdate">Start Date</label>
                    <input [(ngModel)]="book.startDate" type="date" name="stdate" class="form-control" id="stdate" placeholder="Start Date">
                </div>
         
         <div class="form-group col-md-3">
                <label for="enddate">End Date</label>
                   <input [(ngModel)]="book.endDate" type="date" name="enddate" class="form-control" id="enddate" placeholder="End Date">
         </div>
         </div>
         <button (click)="roomBook(book)" type="submit" class="btn btn-primary">Book</button>
       </form>
       </div>
    </div>
    <div *ngIf="count != 0">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Room Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Price</th>
                <th scope="col">Room No</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rooms of book">
                <td scope="row">{{userDetail.fname}}</td>
                <td scope="row">{{rooms.startDate}} &nbsp; 12:00 pm</td>
                <td scope="row">{{rooms.endDate}} &nbsp; 12:00 pm </td>
                <td scope="row">{{rooms.payment}}</td>
                
                <td scope="row">{{rooms.roomNo}}</td>
                <td scope="row">{{rooms.paymentStatus}}</td>
                <td scope="row"><button (click)=deleteroom(rooms.id)>Delete</button></td>
                
              </tr>

            </tbody>
          </table>
          <button class="btn btn-primary" (click)="confirmBooking()">Confirm Booking</button>
    </div>
  </div>
  <div *ngIf = "userid == null">
    <br/>
    <br/>
    
      <h3 align="center">You have to Login First</h3>
  </div>